body {
    background: #ffffff;
    height: 100vh;
}

.login-container,
.register-container {
    max-width: 400px;
    margin-top: 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.input-group-text {
    cursor: pointer;
}

.flash-messages{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 1000;
}

.flash-messages .col{
    position: absolute;
}

.required-field::after{
    content: " *";
    color: #9C1A1C;
}

.animal-card, .login-container, .register-container{
    background-color: #dedfe1;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}