<title>Histórico do Animal</title>

{% extends 'base.html' %}

{% block conteudo %}

    {% include 'navbar.html' %}

    <div class="container mt-4">
        <!-- Informações do Animal -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="text-center">Informações do Animal</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Espécie</th>
                                <th>Porte</th>
                                <th>Sexo</th>
                                <th>Status</th>
                                <th>Data de Resgate</th>
                                <th>Data de Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ animal.name }}</td>
                                <td>{{ animal.animal_species }}</td>
                                <td>{{ animal.animal_size }}</td>
                                <td>{{ animal.animal_sex }}</td>
                                <td>{{ animal.status.value }}</td>
                                <td>{{ animal.rescue_date.strftime('%d/%m/%Y') }}</td>
                                <td>{{ animal.registration_date.strftime('%d/%m/%Y') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Histórico Geral do Animal -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h3 class="text-center">Histórico do Animal</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Tipo de Registro</th>
                                <th>Descrição</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in animal_history %}
                                <tr>
                                    <td>{{ history.action_type.value }}</td>
                                    <td>{{ history.description }}</td>
                                    <td>{{ history.start_date.strftime('%d/%m/%Y') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Formulário para Adicionar Novo Registro -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h3 class="text-center">Adicionar Novo Registro</h3>
                <form action="/animal_history/register_event_history" method="POST"
                      onsubmit="return confirmSubmit(event, 'Deseja registrar as informações ao histórico do animal?');">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="action_type">Tipo de Registro</label>
                            <select class="form-control" id="action_type" name="nActionType" required
                                    onchange="toggleStatusInput()">
                                <option value="" selected disabled>Selecione o tipo do evento...</option>
                                {% for action_type in action_types_list %}
                                    {% if action_type != action_types_list.register %}
                                        <option value="{{ action_type.value }}">{{ action_type.value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="form-group col-md-6 mt-2" id="status_select_group" style="display: none;">
                                <label for="status">Novo Status</label>
                                <select class="form-control" id="status" name="nAnimalStatus">
                                    <option value="" selected disabled>Selecione o status do animal...</option>
                                        {% for status in status_list %}
                                            {% if status != animal.status %}
                                            <option value="{{ status.value }}">{{ status.value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mt-2">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" name="nDescription" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mt-2">
                            <label for="event_date">Data do evento</label>
                            <input type="date" class="form-control" id="event_date" name="nEventDate" required>
                        </div>
                    </div>
                    <input type="hidden" name="nAnimalId" value="{{ animal.id }}">
                    <button type="button" class="btn btn-secondary btn-block mt-3"
                            onclick="window.location.href='/animal/detail/{{ animal.id }}'">Voltar</button>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Adicionar Registro</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}