{% extends 'base.html' %}

{% block conteudo %}

    {% include 'navbar.html' %}

    <div class="container mt-4">
        <!-- Informações do Animal -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Informações do Animal</h2>
                <div class="card">
                    <div class="card-body">
                        <p><strong>Nome:</strong> {{ animal.name }}</p>
                        <p><strong>Espécie:</strong> {{ animal.animal_species }}</p>
                        <p><strong>Porte:</strong> {{ animal.animal_size }}</p>
                        <p><strong>Sexo:</strong> {{ animal.animal_sex }}</p>
                        <p><strong>Data de Resgate:</strong> {{ animal.rescue_date.strftime('%d/%m/%Y') }}</p>
                        <p><strong>Data de Registro:</strong> {{ animal.registration_date.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Histórico Geral do Animal -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h3 class="text-center">Histórico do Animal</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Tipo de Registro</th>
                                <th>Descrição</th>
                                <th>Data de início</th>
                                <th>Data de Fim</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in animal_history %}
                                <tr>
                                    <td>{{ history.action_type.value }}</td>
                                    <td>{{ history.description }}</td>
                                    <td>{{ history.start_date.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ history.end_date.strftime('%d/%m/%Y') if history.end_date else 'N/A' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Formulário para Adicionar Novo Registro -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h3 class="text-center">Adicionar Novo Registro</h3>
                <form action="/animal_history/register_event_history" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="action_type">Tipo de Registro</label>
                            <select class="form-control" id="action_type" name="nActionType" required>
                                <option value="" selected disabled>Selecione o status do animal...</option>
                                {% for action_type in action_types_list %}
                                    {% if action_type != action_types_list.register %}
                                        <option value="{{ action_type.value }}">{{ action_type.value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md6">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" name="nDescription" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="action_date">Data da Ação</label>
                            <input type="date" class="form-control" id="action_date" name="nActionDate" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end_date">Data de Fim (opcional)</label>
                            <input type="date" class="form-control" id="end_date" name="nEndDate">
                        </div>
                    </div>
                    <input type="hidden" name="nAnimalId" value="{{ animal.id }}">
                    <button type="button" class="btn btn-secondary btn-block mt-3"
                            onclick="window.location.href='/animal/detail/{{ animal.id }}'">Voltar</button>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Adicionar Registro</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}