<title>Detalhes do Animal</title>
{% extends 'base.html' %}

{% block conteudo %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title text-center mt-2">
                Detalhes do Animal
            </h4>
        </div>
        <!-- Imagem e informações do Animal -->
        <div class="card-body">
            <div class="text-center mb-4">
                <img src="data:image/jpeg;base64,{{ animal.image_base64 }}" alt="Imagem do Animal"
                     class="img-fluid rounded shadow-sm" style="max-height: 300px; width: auto;">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text"><strong>Nome:</strong> {{ animal.name }}</p>
                    <p class="card-text"><strong>Espécie:</strong> {{ animal.animal_species }}</p>
                    <p class="card-text"><strong>Sexo:</strong> {{ animal.animal_sex }}</p>
                    <p class="card-text"><strong>Porte:</strong> {{ animal.animal_size }}</p>
                    <p class="card-text"><strong>Status:</strong> {{ animal.status.value }}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><strong>Se adapta com outros animais:</strong> {{ 'Sim' if animal.animal_adapt else 'Não' }}</p>
                    <p class="card-text"><strong>Características:</strong> {{ animal.characteristics }}</p>
                    <p class="card-text"><strong>Doenças Crônicas:</strong> {{ animal.chronic_illness }}</p>
                    <p class="card-text"><strong>Tratamentos Contínuos:</strong> {{ animal.continuous_treatments }}</p>
                    <p class="card-text"><strong>Necessidades Especiais:</strong> {{ animal.special_needs }}</p>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/animal/list'">
                Voltar
            </button>
            <div>
                {% if animal.status == animal.status.available and current_user.is_adopter() %}
                    <form action="/animal/adopt" method="POST" class="d-inline" onsubmit="return confirmSubmit(event, 'Deseja adotar o animal?');">
                        <button type="submit" class="btn btn-success">
                            Adotar
                        </button>
                        <input type="hidden" name="nAnimalId" value="{{ animal.id }}">
                    </form>
                {% endif %}

                {% if (current_user.is_protector() or current_user.is_admin() or animal in current_user.animals) %}
                <form action="/animal_history/history" method="POST" class="d-inline">
                    <input type="hidden" name="nAnimalId" value="{{ animal.id }}">
                    <button type="submit" class="btn btn-primary">
                        Histórico do Animal
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
