<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" disabled="">Street Pets</a>
        <a class="navbar-brand" disabled="">
            - Olá, {{ current_user.name }} ({{ current_user.user_type.value }})
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'animal.animals_list' }}"
                       href="/animal/list">
                        Início
                    </a>
                </li>
                {% if current_user.is_adopter() %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'animal.user_animal_report' }}"
                       href="/animal/report">
                        Meus Animais
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_protector() %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'animal.register' }}"
                       href="/animal/register">
                        Cadastrar Animal
                    </a>
                </li>
                {% endif %}
                {% if current_user.is_admin() %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'user.register' }}"
                       href="/user/register">
                        Cadastrar novo usuário
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>