<title>Cadastro de Animal</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .card {
            margin: 50px auto;
            max-width: 800px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
</style>
{% extends 'base.html' %}

{% block conteudo %}

{% include 'navbar.html' %}
<div class="card">
    <div class="card-header text-center">
        <h2>Cadastro de Animal</h2>
    </div>
    <div class="card-body animal-card">
        <form action="/animal/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name" class="form-label required-field">
                        Nome do Animal
                    </label>
                    <input type="text" class="form-control" id="name" name="nAnimalName"
                           placeholder="Digite o nome do animal" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="animal_species" class="form-label required-field">
                        Espécie do animal
                    </label>
                    <select class="form-control" id="animal_species" name="nAnimalSpecies" required>
                        <option value="" selected disabled>Selecione a espécie do animal...</option>
                        <option value="cachorro">Cachorro</option>
                        <option value="gato">Gato</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="sexo" class="form-label required-field">
                        Sexo
                    </label>
                    <select class="form-control" id="sexo" name="nAnimalSex" required>
                        <option value="" selected disabled>Selecione o sexo do animal...</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="porte" class="form-label required-field">
                        Porte
                    </label>
                    <select class="form-control" id="porte" name="nAnimalSize" required>
                        <option value="" selected disabled>Selecione o porte do animal...</option>
                        <option value="pequeno">Pequeno</option>
                        <option value="medio">Médio</option>
                        <option value="grande">Grande</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="porte" class="form-label required-field">
                        Se adapta com outros animais?
                    </label>
                    <div id="adapt_others">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="adapt_others_yes"
                                   name="nAdaptOthersAnimals" value="true" required>
                            <label class="form-check-label" for="adapt_others_yes">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="adapt_others_no"
                                   name="nAdaptOthersAnimals" value="false" required>
                            <label class="form-check-label" for="adapt_others_no">Não</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="characteristics" class="form-label required-field">
                    Características
                </label>
                <textarea class="form-control" id="characteristics" name="nCharacteristics" rows="3"
                          placeholder="Descreva as características do animal" required></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="health_needs">
                        Doenças crônicas
                    </label>
                    <textarea class="form-control" id="health_needs" name="nHealthNeeds" rows="2"
                              placeholder="Doenças crônicas do animal"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="continuous_treatments">
                        Tratamentos Contínuos
                    </label>
                    <textarea class="form-control" id="continuous_treatments" name="nContinuousTreatments" rows="2"
                              placeholder="Tratamentos que o animal necessita"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="special_needs">
                        Necessidades Especiais
                    </label>
                    <textarea class="form-control" id="special_needs" name="nSpecialNeeds" rows="2"
                              placeholder="Descreva as necessidades especiais"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="status" class="form-label required-field">
                        Status
                    </label>
                    <select class="form-control" id="status" name="nAnimalStatus" required>
                        <option value="" selected disabled>Selecione o status do animal...</option>
                            {% for status in status_list %}
                                <option value="{{ status.value }}">{{ status.value }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <!--<div class="form-group col-md-6">
                    <label for="animal_image" class="form-label required-field">
                        Imagem do Animal
                    </label>
                    <input type="file" class="form-control" id="animal_image" name="nAnimalImage" accept="image/*" required>
                </div>-->
                <div class="form-group col-md-6">
                    <label for="rescue_date" class="form-label required-field">
                        Data do Resgate
                    </label>
                    <input type="date" class="form-control" id="rescue_date" name="nRescueDate" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-2">
                Cadastrar Animal
            </button>
        </form>
    </div>
</div>
{% endblock %}
