{% extends 'base.html' %}

{% block conteudo %}

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h3>
            {{ session.page_title }} ({{ qtde_animals }})
        </h3>
        <div class="card mb-4"></div>

        <!-- Lista de Animais -->
        <div class="container card-container">
            <div class="row">
                {% if current_user.is_adopter() and animals_list|length == 0 %}
                    <div class="col">
                        <p>Você ainda não adotou nenhum animal.</p>
                    </div>
                {% endif %}
                {% for animal in animals_list %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <form action="/animal/detail" method="post">
                            <div class="card animal-card">
                                <img src="data:image/jpeg;base64,{{ animal.image_base64 }}"
                                     class="card-img-top" alt="Lost Animal">
                                <div class="card-body">
                                    <h5 class="card-title">{{ animal.name }}</h5>
                                    <p class="card-text">{{ animal.characteristics }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <input type="hidden" name="nAnimalId" value="{{ animal.id }}">
                                    <button type="submit" class="btn btn-primary">
                                        Ver mais
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        <div class="row"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
